<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        &nbsp;<img src="assets/images/logo_hackers.png">
        <h1 class="title is-1">&nbsp;Hackers Base</h1>
    </div>

    <div id="menu" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a [routerLink]="['/']" class="button is-light">
                        Home
                    </a>
                    <a [routerLink]="['/liste']" class="button is-light">
                        Liste
                    </a>
                    <a [routerLink]="['/saisie']" class="button is-light">
                        Saisie
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>